<% if current_user %>
  <div class="page-header">
    <h1>Algumas informações sobre você...</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li><strong>Nome:</strong> <%= current_user.name %></li>
        <li><strong>Email:</strong> <%= current_user.email %></li>
        <li><strong>Data de nascimento:</strong></li>
        <li><strong>Cidade atual:</strong></li>
        <li><strong>Perfil:</strong> <a href="<%= current_user.url %>" target="_blank"> Clique aqui </li>
      </ul>
    </div>
  </div>
<% else %>
  	<div class="jumbotron">
	  <h1>Bem vindo!</h1>
	  <p>Autentique com o Facebook para continuar.</p>
	</div>
<% end %>